
@{
    ViewBag.Title = "Task4";
}
<link href="~/Content/mystyle.css" rel="stylesheet" />
<div>
    <div id="snackbar">Retrying...</div>
</div>
<div id="searcharea">
    <label for="search">live search</label>
    <p>Enter the name or info about a speaker</p>
    <input type="search" name="search" id="search" placeholder="name or info" />
</div>
<p id="displayURL"></p><a id="newlink"></a>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.24.min.js"></script>

<div id="update"></div>

<script src="~/Scripts/stscript.js"></script>
<style>
    #snackbar {
        visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 1;
        left: 50%;
        top: 70px;
        font-size: 17px;
    }
</style>