
@{
    ViewBag.Title = "Task7";
}
<a href="https://www.integromat.com/scenario/1378235/edit">https://www.integromat.com/scenario/1378235/edit</a></br>
<a href="https://www.eventbrite.com/x/showcase-tickets-110617427704">https://www.eventbrite.com/x/showcase-tickets-110617427704</a>
<img src="~/Content/eventbrite.png" id="eventbrite" />

<style>
    #eventbrite {
        height: 54%;
        width: 96%;
    }
</style>

