<div class="row">
    <div class="col-md-3">
        <div class="thumbnail first">
            <div class="caption">
                <b class="thumbnail-description smaller">Task 1 - Weather Service API</b>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px; margin-top:10px;" />
                    Demo that you are able to consume weather service API and display the weather details
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Draw a diagram to show the difference between invoking web service using C# and JQuery
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail first">
            <div class="caption">
                <b class="thumbnail-description smaller">Task 2 - CRUD Application</b>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px; margin-top:10px;" />
                    Demo CRUD operations
                </p>
                <p>
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Demo overposting & underposting handled and correct outcomes - POSTMAN
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Web API document
                </p>
                <p>
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Postman testing screenshot
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail first">
            <div class="caption">
                <b class="thumbnail-description smaller">
                    Task 3 - Authentication and Authorization using Bearer
                </b>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px; margin-top:10px;" />
                    Demo authentication and authorization
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Add reCAPTCHA v3 to the registration part
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Web API document
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Postman testing result
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Draw a sequence diagram to explain your understanding
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail first">
            <div class="caption">
                <b class="thumbnail-description smaller">
                    Task 4 - Talents Search
                </b>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px; margin-top:10px;" />
                    Demo talent search function
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Demo access to HTTPS secured talent search
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Demo if users try to access unsecured talents search users will be redirected to secured talent search.
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Web API document
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Postman testing result
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Draw a sequence diagram to explain your understanding.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail second">
            <div class="caption">
                <b class="thumbnail-description smaller">
                    Task 5 - AWS S3 Photo Storage with Bit.ly
                </b>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px; margin-top:10px;" />
                    Demo that your web client can upload & store talents photos in AWS S3
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Demo that the photos after uploaded to S3, the long url from S3 can be converted to short url using bit.ly web API to generate a bit.ly short link with a custom back-half. E.g. bit.ly/ST0280 - "timestampISO8601" - "filename"
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Draw a sequence diagram to explain your understanding
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail second">
            <div class="caption">
                <b class="thumbnail-description smaller">
                    Task 6 - Stripe Billing API
                </b>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px; margin-top:10px;" />
                    Demo with a simple web page to show payment using Stripe billing subscription API and show successful payment for a daily subscription.
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Demo at least 3 consecutive days of recurring subscription charges.
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Demo Stripe subscription webhook to update database on success or failure to charge subscription
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Demo using your web page to change Stripe subscription plan i.e. upgrade, downgrade, cancel, and next payment.
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Demo refund and pause payment
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    On changes to Stripe subscription such as successful charges, failure, and changes, use Stripe webhook to update your database. You can use Database-as-a-Service
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Draw a sequence diagram to explain your understanding of your project consuming Stripe API for subscription billing
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail second">
            <div class="caption">
                <b class="thumbnail-description smaller">
                    Task 7 - Eventbrite API
                </b>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px; margin-top:10px;" />
                    Demo with every attendee signing up for your free ticket online event via your Eventbrite event, your setup can trigger send a message with attendee data to your private group using your Telegram bot.
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Draw a diagram to explain your understanding.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail second">
            <div class="caption">
                <b class="thumbnail-description smaller">
                    Task 8 - Clarifai API
                </b>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px; margin-top:10px;" />
                    Demo upload and tag using Clarifai API after authenticated via MyInfo API
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Demo image recognition using Clarifai API (i.e. image to text labels) using Image-Recognition-as-a-Service API .e.g Clarifai or others
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Recognise the images are receipts or not and the amount of the receipt
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Draw a sequence diagram to explain your understanding.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail third">
            <div class="caption">
                <b class="thumbnail-description smaller">
                    Extra Features - COVID-19 Updates using Twilio
                </b>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px; margin-top:10px;" />
                    Demo Receiving COVID-19 Updates
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Demo Sending Message to Whatsapp/SMS
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Draw a sequence diagram to explain your understanding.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail third">
            <div class="caption">
                <b class="thumbnail-description smaller">
                    Extra Requirements
                </b>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px; margin-top:10px;" />
                    Web API latency should be simulated and loading gif / spinner / progress bar should be displayed to users whenever possible.
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    In case of network/server failure, your application should be able to detect and recover from the errors(RE-TRY).
                </p>
                <p style="text-align: justify;">
                    <input type="checkbox" checked style="margin-right:10px;" />
                    Input and upload validations for security
                </p>
            </div>
        </div>
    </div>
</div>
<style>
    .first{
        height: 350px;
        margin-top: 20px;
    }
    .second{
        height: 650px;
    }
    .third{
        height: 300px;
    }
</style>

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
        </div>
    </div>*@

