<link href="~/Content/mystyle.css" rel="stylesheet" />
<div id="searcharea">
    <label for="search">live search</label>
    <p>Enter the name or info about a speaker</p>
    <input type="search" name="search" id="search" placeholder="name or info" />
    <div style="text-align:left">
        <input id="byName" style="width:auto" type="checkbox" checked>Search by name
        <input id="byBio" style="width:auto" type="checkbox" checked>Search by bio
    </div>
</div>
<div id="update"></div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/script.js"></script>
